<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Starting page</title>
  </head>
  <body>
    <h1>This is the login page</h1>

    <a href="{{twitch_login_url}}">Please Login</a>
  </body>
</html>