<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Private area</title>
  </head>
  <body>
    <h1>Hello {{email}} you are in the private area</h1>

    
  </body>
</html>